.grid_container {
    border: 0.5px solid gray;
    padding: 10px;
    background-color: white;
    display: grid;
    gap: 10px;
    width: 320px;
    grid-template-columns: 100px 100px 100px;
}

.grid_item {
    border: none;
    padding: 20px;
    color: white;
    background-color: gray;
    text-align: center;
}

.a {
    grid-column: 1 / span 2;
}

.b {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.c {
    grid-column: 1;
    grid-row: 2;
}

.d {
    grid-column: 2;
    grid-row: 2;
}